<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
        <link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="container-register">
        <h1>Cadastro</h1>
        <form action="/auth/register" method="post" th:object="${user}">
            <label for="login">Usuário</label>
            <input type="text" id="login" th:field="*{login}" required />
            <label for="password">Senha</label>
            <input type="password" id="password" th:field="*{password}" required />
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>
