<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
<section>
  <h1>Bem-vindo</h1>
  <p>Projeto de avaliações de filmes com CRUD e integração de API!!!!!!!!!!!!!!!!!!!</p>
  <a href="auth/login">login</a><br>
  <a href="auth/register">register</a><br>
  <a href="movies">moviez</a>
</section>

<footer>
        <p>&copy; 2025 - DSII-P2<br>Gabriella<br>Héber<br>Luiza</p>
    </footer>
</body>
</html>
