<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moviez - Bem-vindo</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container-index">
    <h1>Bem-vindo ao Moviez!</h1>
    <p>Projeto de avaliações de filmes com CRUD, integração de API e experiência moderna. Explore, avalie e compartilhe!</p>
    <div class="index-links">
      <a href="auth/login">Entrar</a>
      <a href="auth/register">Registrar</a>
      <a href="movies">Ver Filmes</a>
    </div>
    <footer>
      <p>&copy; 2025 - DSII-P2<br>Gabriella &bull; Héber &bull; Luiza</p>
    </footer>
  </div>
</body>
</html>
